.content {
    display: grid;
    place-items: center;
}

.content label {
    --button-padding: 1rem 0.8rem;

    width: max-content;
    text-transform: none;
    font-weight: normal;
}

.content input {
    opacity: 0;
}