header {
    background-color: var(--clr-component);
}

header div>a {
    color: var(--clr-white);
}

.container {
    --work-area-size: 300px;
    --main-color: #fded70;

    display: grid;
    height: calc(100svh - var(--header, 0));
    grid-template-rows: 1fr minmax(9vw, var(--work-area-size));
    background-color: var(--clr-component);
}

.container>* {
    border-top: 1px solid #000000;
}

.video {
    display: grid;
    place-items: center;
    padding: clamp(1rem, 5%, 1.5rem);

}

.video__base {
    --background-base: #212123;

    height: 100%;

    border-radius: 0.5rem;
    background-color: var(--background-base);
    width: clamp(500px, 50vw, 900px);
    display: grid;
    place-content: center;
    grid-template-areas: "stack";
}

.video__base>* {
    grid-area: stack;
}

.video__base--hidden {
    visibility: hidden;
}

.video__element {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    background-color: #000000;
}

.edit-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.toolbar {
    padding-block: clamp(0.5rem, 5%, 0.7rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.8rem, 5%, 3rem);
    font-size: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    color: #B4C3D3;
    background-color: #18181A;
}

.toolbar button:hover {
    background-color: #212123;
    transition: background-color 500ms ease;
}

.toolbar__normal-button {
    --size: 2.3rem;

    display: flex;
    justify-content: center;
    width: var(--size);
    border-radius: 0.3125rem;
    padding-inline: 0.3rem;
}

.toolbar__normal-button svg {
    display: block;
    width: var(--size);
    height: var(--size);
    pointer-events: none;
    fill: currentColor;
}

.toolbar__download-button {
    --color: #75F98D;

    position: absolute;
    right: 2rem;
    color: var(--color);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.3125rem;
    padding: clamp(0.2rem, 5%, 0.3rem) clamp(0.5rem, 5%, 0.7rem);
}


.toolbar__download-button svg {
    display: block;
    fill: currentColor;
}


.work-area {
    --width-container: 0px;

    position: relative;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    flex: 1;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    margin-inline: .625rem;
}

.work-area::-webkit-scrollbar {
    height: .4375rem;
}

.work-area::-webkit-scrollbar-thumb {
    background-color: #74808C;
    border-radius: 6px;
}

.work-area::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.work-area::-webkit-scrollbar-track {
    background-color: transparent;
}

.tracker {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: var(--main-color);
    z-index: 40;
    cursor: ew-resize;
}


.tracker__header-square, 
.tracker__header-triangle
{
    position: absolute;
    left: calc(50% - 1px);
    border-radius: 0.125rem;
    background-color: var(--main-color);
}

.tracker__header-square {
    width: 12px;
    height: 12px;
    top: 0;
    transform: translateX(calc(-50% + 1px));
}

.tracker__header-triangle {
    width: 9px;
    height: 9px;
    top: 6px;
    transform: translateX(calc(-50% + 1px)) rotate(45deg);
}


.timeline__wrapper {
    --color-border: rgba(180, 195, 211, .1);

    position: relative;
    cursor: pointer;
    width: var(--width-container);
    height: 42px;
    background-image: linear-gradient(90deg, var(--color-border), var(--color-border));
    background-position: 0 100%;
    background-size: var(--width-container) 1px;
    background-repeat: no-repeat;
    margin-block-end: 0.8rem;
}

.track {
    height: 100%;
    position: relative;
}

.track>li {
    --height: 3.5rem;
    position: relative;
}

.track__item {
    position: relative;
    display: inline-block;
    /* margin-block-end: .625rem; */
    height: var(--height);
    width: var(--width-container);
    transition: height 33ms linear;
    border-radius: .3125rem;
    background-color: #1B1E22;
}

.frame {
    width: 100%;
    position: relative;
    height: var(--height);
}

.drag-item {
    --track-width: 0px;
    --track-left: 0px;
    position: absolute;
    left: var(--track-left, 0);
    width: var(--track-width, 0);
    height: var(--height);
}

.drag-item>div {
    height: 100%;
}

.drag-item__track {

    width: auto;
    height: 100%;
    overflow: hidden;
    background-color: #2b2b2e;
    border-radius: 0.5rem;
    cursor: default;
    pointer-events: all;
    backface-visibility: hidden;

    transform: translate3d(var(--translate-x), 0, 0) scale(1);
}

.drag-item__buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: ew-resize;
}

.drag-item__buttons::before {
    --size: .9375rem;
    --border-size: .5rem;

    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: var(--size);
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 5px 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='5' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.667' cy='2' r='2' fill='%23212123'/%3E%3Ccircle cx='2.667' cy='10' r='2' fill='%23212123'/%3E%3Ccircle cx='2.667' cy='18' r='2' fill='%23212123'/%3E%3C/svg%3E");
}

.drag-item__buttons--left,
.drag-item__buttons--left::before {
    left: 0;
    border-top-left-radius: var(--border-size);
    border-bottom-left-radius: var(--border-size);
}

.drag-item__buttons--right,
.drag-item__buttons--right::before {
    right: 0;
    border-top-right-radius: var(--border-size);
    border-bottom-right-radius: var(--border-size);
}

.timeline {
    --color: #B4C3D3;

    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding-inline: .3rem;
}

.timeline__line {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

.timeline__line small {
    position: absolute;
    bottom: 10px;
    color: var(--color);
    font-size: .625rem;
}

.timeline__line div {
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 8px;
    background-color: var(--color);
    flex-shrink: 0;
}