.resize {
    --clr-primary-light: 103, 232, 249;
    --clr-text: #f9fafb;

    position: absolute;
    top: 0;
    height: 100%;
    background-color: rgba(var(--clr-primary-light), 0.5);
    pointer-events: all;
}

.resize__side {
    position: absolute;
    display: block;
    width: 1rem;
    height: 2.25rem;
    aspect-ratio: 2 / 2;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 32 32" ><path d="M 16,5 L 12,10 L 14.5,10 L 14.5,22 L 12,22 L 16,27 L 20,22 L 17.5,22 L 17.5,10 L 20, 10 L 16,5 Z" stroke-linejoin="round" stroke-width="1.2" fill="black" stroke="white" style="transform:rotate(90deg);transform-origin: 16px 16px"></path></svg>')16 16, ew-resize;
}

.resize__side[data-resize-side] {
    top: 50%;
    transform: translateY(-50%);
}

.resize__side[data-resize-side="left"] {
    left: 0;
}

.resize__side[data-resize-side="right"] {
    right: 0;
}

.resize__side::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 100%;
    width: .5rem;
    background-color: var(--clr-text);
    border-radius: 0.8rem;
    transform: translateY(-50%);
    border: 2px solid var(--clr-body);
}

.resize__side::before {
    left: 5px;
}